{# -----------------------------
 # Layout Template
 # ----------------------------- #}

{# custom variables for category content #}
{% if category is defined %}
  {% set bodyClasses = 'nslug-'~category.slug~' nid-'~category.id %}
  {% set entryType = category %}
{% endif %}

{# custom variables for entry content #}
{% if entry is defined %}
  {% set bodyClasses = 'nslug-'~entry.slug~' nid-'~entry.id %}
  {% set entryType = entry %}
{% endif %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

  <link rel="home" href="{{ siteUrl }}" />
  <link rel="stylesheet" href="{{ siteUrl }}style.css" media="screen" />

  {# pull in favicon meta #}
  {% include '_partials/meta-favicon.html' %}

  <script>
    // Set up site configuration
    window.config = window.config || {};
    window.config.locationUrl = window.location.href;
    window.config.siteUrl = '{{ siteUrl }}';
  </script>
</head>

<!--[if IE 8]>
  <div class="browse-happy">
    <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  </div>
<![endif]-->

<body class="node-{{ craft.request.getSegment(1) ?: 'home' }} {{ bodyClasses is defined ? bodyClasses|lower }}">

  <header class="global-header">
    <h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
    </nav>
  </header>

  <main id="content" role="main">
    {% block content %}
      <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
      <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
    {% endblock %}
  </main>

  <footer class="global-footer">
    Copyright {{ now.year }}
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{{ sireUrl }}/assets/js/main.js"></script>

  {% if craft.config.env == 'dev' %}
    <script type='text/javascript'>
      (function (d, t) {
        var bh = d.createElement(t), s = d.getElementsByTagName(t)[0],
          apiKey = 'your-key';
        bh.type = 'text/javascript';
        bh.src = '//www.bugherd.com/sidebarv2.js?apikey=' + apiKey;
        s.parentNode.insertBefore(bh, s);
      })(document, 'script');
    </script>
  {% endif %}
</body>
</html>
