{# -----------------------------
 # Home
 # ----------------------------- #}

{% extends "_layout" %}
{% set title = "Home" %}

{# define custom breadcrumbs to pass to sample comonent #}
{% set breadcrumbs = ([
  {
    "title": "Home",
    "url": siteUrl
  },
  {
    "title": "Breadcrumb One",
    "url": "/crumb-one"
  },
  {
    "title": "Breadcrumb Two",
    "url": "/crumb-two"
  },
]) %}

{% block content %}
	<article class="landing-home lid-{{ entryType.id }}">

    {# pull in sample component #}
    {% include '_components/sample.html' with {
      "breadcrumbs": breadcrumbs
    } %}

    {# pull in sample module #}
    {% include '_module/sample.html' with {
      "moduleHeading": "Module Heading",
      "moduleMessage": "My Module Content"
    } %}

  </article>
{% endblock %}
